<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                            
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033676">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034056">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">IT-People</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034065">Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028560">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033646">Java-разработчик/Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АльфаСтрахование</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032132">JAVA программист (микросервисы)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032812">Разработчик Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033475">Java Backend Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Банк Русский Стандарт»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031243">Преподаватель по Java EE</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 20 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033791">Программист С++, Go, Python, Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">deva</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033957">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">URSIP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033725">Senior Java Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Q’ligent</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033863">Java Back-end Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034096">Senior Java Developer/Team Leader</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028279">Junior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033634">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033364">Back-end developer Java</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Drivepixels</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033447">Java/Groovy разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SKB_Lab</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033941">Ведущий разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РОСГОССТРАХ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033647">Senior/Middle Java Developer (ASAP)</a></td> 
     <td class="city"></td> 
     <td class="companyName">TopInt Co.</td> 
     <td class="salary">От 130 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034134">Senior Java developer with AWS-knowledge</a></td> 
     <td class="city">Стокгольм</td> 
     <td class="companyName">Fastdev AB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034041">Senior Java Developer (Machine Learning)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033676">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034056">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">IT-People</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034065">Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028560">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033646">Java-разработчик/Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АльфаСтрахование</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032132">JAVA программист (микросервисы)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032812">Разработчик Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033475">Java Backend Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Банк Русский Стандарт»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031243">Преподаватель по Java EE</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 20 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033791">Программист С++, Go, Python, Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">deva</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033957">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">URSIP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033725">Senior Java Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Q’ligent</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033863">Java Back-end Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034096">Senior Java Developer/Team Leader</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028279">Junior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033634">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033364">Back-end developer Java</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Drivepixels</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033447">Java/Groovy разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SKB_Lab</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033941">Ведущий разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РОСГОССТРАХ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033647">Senior/Middle Java Developer (ASAP)</a></td> 
     <td class="city"></td> 
     <td class="companyName">TopInt Co.</td> 
     <td class="salary">От 130 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034134">Senior Java developer with AWS-knowledge</a></td> 
     <td class="city">Стокгольм</td> 
     <td class="companyName">Fastdev AB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034041">Senior Java Developer (Machine Learning)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031330">Мобильный разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033937">Ведущий разработчик Java отдел перспективных разработок</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РОСГОССТРАХ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033801">Программист серверной части/Java Server-Side Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Banzai Games</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030325">Middle/Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TechOps</td> 
     <td class="salary">До 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033133">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YouDo</td> 
     <td class="salary">От 140 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014425">Front-end Developer / Java Script</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Akzia Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033853">Программист C++/JNI/Qt</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033783">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Frumatic</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033990">Senior Android developer (Android- разработчик / Андройд разработчик)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Спорт-Экспресс</td> 
     <td class="salary">От 80 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032814">Senior Oracle Developer/Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034154">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pladform</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032894">Backend-разработчик (full-stack)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Okko</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034158">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Devmasterz</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033741">Senior Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032254">Разработчик плагинов для CS:GO</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ISPACE</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033405">Technical Leader в IT Healthcare</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028932">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">С.INDICATOR</td> 
     <td class="salary">От 85 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033087">Автотестировщик ПО / Software Autotester</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Группа компаний FOREX&nbsp;CLUB</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033075">⚡ Full Stack Developer — Vimbox</a></td> 
     <td class="city"></td> 
     <td class="companyName">Skyeng</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033671">QA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033751">ANDROID SYSTEM DEVELOPER</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031183">Менеджер разработки ПО</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АйТиЭм Холдинг</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033841">Senior Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">IKIT Laboratory</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033816">Программист на Android - Open GL/3D - Питер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Погода YoWindow</td> 
     <td class="salary">От 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033230">Team Lead (C++/Python)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Mediterra-software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034073">Senior Full Stack Web Developer (Старший веб-разработчик, полный стек)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ООО "Первая Мониторинговая Компания"</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033752">ANDROID HMI DEVELOPER</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030452">Back-end Developer (Big Data)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034137">Senior Mobile Developer (iOS/Android)</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Kafoodle</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022577">Администратор продуктов стека Atlassian</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033750">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">IT-hunter</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033933">Архитектор ИТ систем</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РОСГОССТРАХ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033678">Senior Data Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033811">Администратор сайта 100fur</a></td> 
     <td class="city">Балашиха</td> 
     <td class="companyName">УК "RED&amp;CO"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033660">Android разработчик удалённо</a></td> 
     <td class="city"></td> 
     <td class="companyName">Unreal Mojo</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031988">Ментор - архитектор по Datomic/Clojure</a></td> 
     <td class="city"></td> 
     <td class="companyName">AXES Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033805">Вечерний Windows DevOps Engineer</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ООО Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033736">Developer React Native</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033656">WEB разработчик / Middle WEB developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Topof.ru</td> 
     <td class="salary">От 80 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033936">Архитектор ИТ инфраструктуры</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">РОСГОССТРАХ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034005">Backend-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Sveak</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032825">Разработчик/DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032839">Руководитель группы (Управление разработкой)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028564">QA Lead</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033466">Руководитель группы разработки/Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026377">Senior Backend Developer (Golang, Kubernetes)</a></td> 
     <td class="city"></td> 
     <td class="companyName">whisk</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033834">CTO</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Frumatic</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032780">Project Manager</a></td> 
     <td class="city"></td> 
     <td class="companyName">TechOps</td> 
     <td class="salary">До 3 200 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033645">Senior Front-End Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Waves</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032009">Senior PHP/MySQL Developer (Relocate to London)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033887">Adobe Campaign developer / Adobe Campaign разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BizTech Enterprise Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033797">Head of Predictive Analytics</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033365">Front-end developer Angular</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Drivepixels</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (iOS или Android)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033653">Full stack developer / Clojure developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Health Samurai</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034107">Старший разработчик (Lotus)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Otto Group Russia</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034104">React Native разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">G-Plans</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034091">Инженер техподдержки</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Delta Solutions</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025522">Python разработчик / Python Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033709">Senior DevOps (+ Big Data /or Data Science)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Gimme the best one - Recruitment</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033963">Junior embedded developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Comtek</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026549">Android разработчик</a></td> 
     <td class="city">Симферополь</td> 
     <td class="companyName">appwilio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025784">PHP Developer (Программист)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">МАДЖЕСТИ</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034151">Бэкенд-разработчик</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033730">Mobile QA Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Trucker Path</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033669">React Native / React.JS программист удалённо</a></td> 
     <td class="city"></td> 
     <td class="companyName">Start Mobile</td> 
     <td class="salary">От 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033650">Android разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027966">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033159">Ведущий веб-разработчик / Team Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ВиртуалПос</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034083">Инженер DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031190">Специалист по анализу данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МаксимаТелеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034090">Фронтенд-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Delta Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024496">Backend Engineer (Python/Go)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Juno</td> 
     <td class="salary">От 3 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033303">Frontend разработчик / Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033760">React Native разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Evrone.com</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033679">QA Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034139">Системный аналитик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">СДЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034086">Руководитель группы разработки/ Team-lead 1C-Bitrix</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Интерактивное агентство AGIMA</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>